$font--primary: sans-serif;//'Barlow', sans-serif;
$font--secondary: serif;//'Slabo 27px', serif;

$font--xs: 0.6rem;
$font--s: 0.8rem;
$font--med: 1rem;
$font--lg: 1.2rem;
$font--xl: 2rem;

$white: #FFFFFF;
$pink: #FF3372;
$yellow: #FFFED7;
$gray--lightest: #F9F9F9;
$gray--light: rgba(#000000, 0.4);
$gray--med: rgba(#000000, 0.6);
$gray--dark: rgba(#000000, 0.8);
$gray--border: #E6E6E6;


html, body {
    font-family: $font--primary;
    font-size: 17px;
}

.HeaderWrapper {
    position: relative;
    padding: 30px 0;
    border-bottom: 1px solid #E6E6E6;

    a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: inherit;
    }
}

.Header {
    display: flex;
    align-items: flex-end;
    margin: auto auto; 
    width: 1200px;
    max-width: 100%;
}

.Header > div {
    margin: 15px;
    margin-bottom: 0;
    vertical-align: bottom;
    font-size: $font--med;
}

.Header__logo {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
}

@keyframes dash {
    from {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
    }
    
    to {
	stroke-dashoffset: 0;
    }
}

@keyframes opacity {
    from {
	opacity: 0;
    }
    to {
	opacity: 1;
    }
}

.Header__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &.Menu--selected {
	color: $pink;
    }

    &:hover {
	color: $pink;
	transition: color 0.3s ease-in-out;
    }
}

.Header .Header__icons {
    flex-grow: 1;
    text-align: right;
    vertical-align: bottom;
    margin-right: 0;

    & > a {
	margin-left: 15px;
	color: $gray--light;
	text-decoration: none;
    }
}

.Content {
    padding: 5% 0;
    p {
	line-height: 1.7;
    }
}

.Content__sideMenu {
    flex-grow: 1;
    border: 1px solid $gray--border;
    padding: 20px;
    padding-right: 100px;
    color: $gray--med;
    background-color: $white;
    height: fit-content;

    .SideMenu__label {
	font-size: $font--s;
	margin-bottom: 2rem; 
    }

    .SideMenu__menu {
	margin-bottom: 1rem;

	&.selected {
	    color: $pink;
	}
    }
}

.Post {
    margin: 0 auto;
    width: 650px;
    max-width: 100%;
}

.Post__title {
    font-family: $font--primary;
    font-size: $font--xl;
    color: $gray--dark;
}

.Post__date {
    color: $gray--med;
    font-size: $font--med;
}

.Post__content {
    color: $gray--med;
    font-size: $font--lg;
    margin-top: 3rem;
}

.Postlist {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    
    .Postlist__post {
	display: block;
	position: relative;
	border: 1px solid $gray--border;
	padding: 2.5rem;
	background-color: $white;
	transition: font-size 0.5s ease-in-out;
	box-sizing: border-box;
	text-decoration: none;

	&:visited {
	    color: inherit;
	}
	
	&:first-of-type {
	    border-bottom: none;
	}

	&:last-of-type {
	    border-bottom: 1px solid $gray--border;
	}
	.Postlist__date {
	    color: $gray--med;
	    font-size: $font--s;
	    margin-bottom: 1rem;
	}
	.Postlist__title {
	    font-family: $font--primary;//--secondary;
	    font-size: $font--med;
	}

	.Postlist__colorStick {
	    position: absolute;
	    left: 0;
	    top: 0;
	    height: 0;
	    width: 3px;
	}

	.Postlist__post:hover, .Postlist__post:active, .Postlist__post:visited {
	    color: inherit;
	}
	
    }

    .Postlist__post:hover, .Postlist__post:active, .Postlist__post:focus {
	box-sizing: border-box;

	.Postlist__colorStick {
	    height: 2em;
	    background-color: $pink;
	    transition: height 0.2s ease-in-out;	    
	}
    }

    .Postlist__image {
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	height: 100%;

	img {
	    object-fit: cover;
	    width: 100%;
	    height: 100%;
	    object-position: 50% 50%;
	}
    }
}

pre {
    border: 1px solid $gray--border;
    background: $gray--lightest;
    padding: 0 1.5rem;
    overflow: scroll;
}

.code--embeded > iframe {
    min-height: 150px;
    max-height: max-content;
}

.highlight {
    background-color: $yellow;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 696px) {
    .Logo {
	width: 40px;
	height: 40px;
    }

    .HeaderWrapper{
	font-size: $font--lg;

	.Header__icons > a {
	    font-size: $font--s;
	}

	.Header__menu {
	    font-size: $font--s;
	}

    }
    
    .Content__sideMenu {
	display: none;
    }

    .Postlist__date {
	
    }

    .Post__title {
	font-size: $font--lg;
    }

    .Post__date {
	font-size: $font--s;
    }

    .Post__content {
	font-size: $font--s;
    }
}
