html, body {
  font-family: sans-serif;
  font-size: 17px;
}

.HeaderWrapper {
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid #E6E6E6;
}
.HeaderWrapper a, .HeaderWrapper a:hover, .HeaderWrapper a:active, .HeaderWrapper a:visited {
  text-decoration: none;
  color: inherit;
}

.Header {
  display: flex;
  align-items: flex-end;
  margin: auto auto;
  width: 1200px;
  max-width: 100%;
}

.Header > div {
  margin: 15px;
  margin-bottom: 0;
  vertical-align: bottom;
  font-size: 1rem;
}

.Header__logo {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Header__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.Header__menu.Menu--selected {
  color: #FF3372;
}
.Header__menu:hover {
  color: #FF3372;
  transition: color 0.3s ease-in-out;
}

.Header .Header__icons {
  flex-grow: 1;
  text-align: right;
  vertical-align: bottom;
  margin-right: 0;
}
.Header .Header__icons > a {
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.Content {
  padding: 5% 0;
}
.Content p {
  line-height: 1.7;
}

.Content__sideMenu {
  flex-grow: 1;
  border: 1px solid #E6E6E6;
  padding: 20px;
  padding-right: 100px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #FFFFFF;
  height: fit-content;
}
.Content__sideMenu .SideMenu__label {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
.Content__sideMenu .SideMenu__menu {
  margin-bottom: 1rem;
}
.Content__sideMenu .SideMenu__menu.selected {
  color: #FF3372;
}

.Post {
  margin: 0 auto;
  width: 650px;
  max-width: 100%;
}

.Post__title {
  font-family: sans-serif;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}

.Post__date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}

.Post__content {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  margin-top: 3rem;
}

.Postlist {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.Postlist .Postlist__post {
  display: block;
  position: relative;
  border: 1px solid #E6E6E6;
  padding: 2.5rem;
  background-color: #FFFFFF;
  transition: font-size 0.5s ease-in-out;
  box-sizing: border-box;
  text-decoration: none;
}
.Postlist .Postlist__post:visited {
  color: inherit;
}
.Postlist .Postlist__post:first-of-type {
  border-bottom: none;
}
.Postlist .Postlist__post:last-of-type {
  border-bottom: 1px solid #E6E6E6;
}
.Postlist .Postlist__post .Postlist__date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.Postlist .Postlist__post .Postlist__title {
  font-family: sans-serif;
  font-size: 1rem;
}
.Postlist .Postlist__post .Postlist__colorStick {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 3px;
}
.Postlist .Postlist__post .Postlist__post:hover, .Postlist .Postlist__post .Postlist__post:active, .Postlist .Postlist__post .Postlist__post:visited {
  color: inherit;
}
.Postlist .Postlist__post:hover, .Postlist .Postlist__post:active, .Postlist .Postlist__post:focus {
  box-sizing: border-box;
}
.Postlist .Postlist__post:hover .Postlist__colorStick, .Postlist .Postlist__post:active .Postlist__colorStick, .Postlist .Postlist__post:focus .Postlist__colorStick {
  height: 2em;
  background-color: #FF3372;
  transition: height 0.2s ease-in-out;
}
.Postlist .Postlist__image {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
}
.Postlist .Postlist__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
}

pre {
  border: 1px solid #E6E6E6;
  background: #F9F9F9;
  padding: 0 1.5rem;
  overflow: scroll;
}

.highlight {
  background-color: #FFFED7;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 696px) {
  .Logo {
    width: 40px;
    height: 40px;
  }

  .HeaderWrapper {
    font-size: 1.2rem;
  }
  .HeaderWrapper .Header__icons > a {
    font-size: 0.8rem;
  }
  .HeaderWrapper .Header__menu {
    font-size: 0.8rem;
  }

  .Content__sideMenu {
    display: none;
  }

  .Post__title {
    font-size: 1.2rem;
  }

  .Post__date {
    font-size: 0.8rem;
  }

  .Post__content {
    font-size: 0.8rem;
  }
}
